label {
font-weight: normal !important;
}
#foodtitle{
  clear: both;
}
#slider{
  clear: both;
}
#sSpeed{
  position: relative;
  float: center;
  padding-top: 10px;
  width:100%;
}
#food {
  position: relative;
  width:1200px;
  height: 400px;
}
#bground {
position: relative;
width:240px;
height:40px;
float: left;
}
.PPRButon{
  width:45px;
  height:45px;
}
.PPRButtonsDIV{
  width:auto;
  height:42px;
}
.partition{
  float:left;
  width:25%;
  height:auto;
}
.labels{
   width:100%;
}
.slider{
  width:200px;
  height:8.5px;
  font-size:62.5%;
  margin-top: 15px;
}
